
<ul class="nav nav-pills">

  <li role="presentation" class="active"><a href="/">Home</a></li>

  <li role="presentation"><a href="/urls">Show URLs</a></li>

  <li role="presentation"><a href="/urls/new">Create URL</a></li>

  <% if(!user || !user.email) { %>

  <li role="presentation"><a href="/register">Register</a></li>

  <li role="presentation"><a href="/login">Login</a></li>

  <% } else {%>

  <div style="float: right">

    <b>Welcome, <%= user['email'] %></b>

    <form method="POST" action="/logout">

      <input type="submit" value="Logout">
    </form>
  </div>
  <% } %>
</ul>