
<h1>Header</h1>

<form action="/login" method="POST">
  <p>
    <label for="username_field">Username</label>
    <input id="username_field" type="text" name="username" value="username">
  </p>
  <p>
    <button>Submit</button>
  </p>
</form>