
<header>
<% if (user) {  %>
      <a href='/urls'>My Links</a>
      <%= user['email'] %>
      <form action="/logout" method="POST">
      <input type="submit" value="logout">
      </form>

<% } else { %>
      <p><a href="/login">login</a></p>
    <p><a href="/register">register</a></p>

<% } %>
</header>