<!DOCTYPE html>

<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">

    <% include partials/_header %>

  <h2> Short URL <%= shortURL %></h2>

  <h3>Long URL <%= longURL %></h3>

  <form action="/urls/<%=shortURL %>" method="POST" style="margin:150px;>
  <p>
    <label for="update_field">Update</label>
    <input id="update_field" type="text" name="longURL" value="<%= longURL %> tyle="width: 300px">
  </p>
  <p>
    <button>Update URL</button>
  </p>
</form>

</body>

</html>
