
<!DOCTYPE html>
<html lang="en">
<head>
  <title>New</title>
</head>

<body class='container'>
  <header> <% include partials/_header %> </header>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width:300px" required>
      <input type="submit" value="Sumbit">
    </form>
</body>
</html>