<!DOCTYPE html>

<html lang="en">

<head>

  <title>TinyApp</title>

</head>

<body>

    <% include partials/_header %>

  <h2> Short URL <%= shortURL %></h2>

  <h3>Long URL <%= longURL %></h3>

  <form action="/urls/<%=shortURL %>" method="POST">
  <p>
    <label for="update_field">Update</label>
    <input id="update_field" type="text" name="longURL" value="<%= longURL %>">
  </p>
  <p>
    <button>Update URL</button>
  </p>
</form>

</body>

</html>